@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.lists {
  padding-top: 80px;
  width: 100%;
  height: 1450px;
  background: rgb(23, 23, 23);
}
.lists .sub_visual {
  width: 100%;
  height: 400px;
  background: url(../img/about/aboutop.jpg) no-repeat center/cover;
}
.lists .inner {
  width: 100%;
  padding-top: 30px;
}
.lists .inner .wrap {
  width: 1180px;
  height: 800px;
  margin: 0 auto;
}
.lists .inner .wrap h1 {
  font: bold 45px "inter";
  margin-bottom: 30px;
}
.lists .inner .wrap article {
  float: left;
  width: 280px;
  height: 400px;
  background: rgb(16, 16, 16);
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.lists .inner .wrap article:nth-of-type(4) {
  margin-right: 0px;
}
.lists .inner .wrap article:nth-of-type(8) {
  margin-right: 0px;
}
.lists .inner .wrap article .pic {
  margin: 20px auto;
  width: 240px;
  height: 240px;
  background: #fff;
  background-image: url(../img/department/dep1.jpg);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.lists .inner .wrap article .txt {
  color: #fff;
  font-family: "roboto";
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
}
.lists .inner .wrap article .txt h2 {
  color: rgb(207, 24, 41);
}
.lists .inner .wrap article .txt p {
  font-size: 15px;
  margin-top: 20px;
  color: #999;
}
.lists .inner .wrap article:hover {
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
.lists .inner .wrap article:hover .pic {
  filter: grayscale(0);
}
.lists .inner .wrap article:hover h2 {
  color: #fff;
}
.lists .inner .wrap article:hover p {
  color: #fff;
}

@media screen and (max-width: 1179px) {
  .lists {
    height: 1850px;
  }
  .lists .sub_visual {
    height: 300px;
  }
  .lists .inner {
    width: 100%;
    padding: 20px 20px;
  }
  .lists .inner .wrap {
    width: 100%;
  }
  .lists .inner .wrap h1 {
    font-size: 40px;
  }
  .lists .inner .wrap article {
    width: 32%;
    margin-right: 2%;
  }
  .lists .inner .wrap article:nth-of-type(3) {
    margin-right: 0px;
  }
  .lists .inner .wrap article:nth-of-type(4) {
    margin-right: 2%;
  }
  .lists .inner .wrap article:nth-of-type(5) {
    margin-right: 2%;
  }
  .lists .inner .wrap article:nth-of-type(6) {
    float: left;
    margin-right: 0px;
  }
  .lists .inner .wrap article .pic {
    width: 25vw;
    height: 25vw;
  }
}
@media screen and (max-width: 539px) {
  .lists .sub_visual {
    height: 200px;
  }
  .lists .inner .wrap article {
    float: none;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .lists .inner .wrap article .pic {
    width: 25vw;
    margin: auto;
  }
  .lists .inner .wrap article .txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}
.community {
  padding-top: 80px;
  width: 100%;
  height: 1500px;
  padding-top: 80px;
  background: rgb(29, 29, 29);
}
.community .sub_visual {
  width: 100%;
  height: 400px;
  background: url(../img/comtop.jpg) no-repeat center/cover;
}
.community .inner {
  width: 1180px;
  margin: 0 auto;
}
.community .inner h1 {
  padding-top: 40px;
  font: bold 45px "inter";
  letter-spacing: 2px;
}
.community .inner table {
  padding-top: 40px;
  width: 100%;
  margin-bottom: 50px;
}
.community .inner table .hidden {
  opacity: 0;
  top: -99999999999;
}
.community .inner table tr {
  background: rgb(23, 23, 23);
}
.community .inner table tr:hover {
  background: rgb(207, 24, 41);
}
.community .inner table tr th {
  padding: 15px;
  background: rgb(16, 16, 16);
  color: #fff;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid rgb(23, 23, 23);
  text-align: center;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.community .inner table tr td a {
  color: white;
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 90px;
  height: 30px;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
}
.community .inner .pagination .prev span {
  opacity: 1;
  color: #666;
}
.community .inner .pagination .prev i {
  color: #666;
}
.community .inner .pagination .prev:hover {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .prev:hover i {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .prev:hover span {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 90px;
  height: 30px;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.community .inner .pagination .next span {
  opacity: 1;
  position: relative;
  top: auto;
  color: #666;
}
.community .inner .pagination .next i {
  color: #666;
}
.community .inner .pagination .next:hover {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .next:hover i {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .next:hover span {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font: 20px/30px "roboto";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a.on {
  color: rgb(207, 24, 41);
}
.community .inner .pagination .numbers a:hover {
  color: rgb(207, 24, 41);
}

@media screen and (max-width: 1179px) {
  .community {
    height: 900px;
    height: 1850px;
  }
  .community .sub_visual {
    height: 300px;
  }
  .community .inner {
    width: 100%;
    padding: 20px 20px;
  }
  .community .inner .pagination .prev {
    width: 80px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
  .community .inner .pagination .prev i {
    font-size: 20px;
    line-height: 20px;
  }
  .community .inner .pagination .next {
    width: 80px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
  .community .inner .pagination .next i {
    font-size: 20px;
    line-height: 20px;
  }
  .community .inner .pagination .numbers a {
    width: 20px;
  }
  .community .inner .wrap {
    width: 100%;
  }
  .community .inner .wrap h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 539px) {
  .community {
    height: 1300px;
  }
  .community .sub_visual {
    height: 200px;
  }
  .community .inner {
    width: 100%;
    padding: 20px 20px;
  }
  .community .inner .pagination .prev {
    width: 15px;
  }
  .community .inner .pagination .next {
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
  .community .inner .pagination .next i {
    height: 30px;
  }
  .community .inner .pagination .next span {
    position: absolute;
    top: -9999999999px;
    opacity: 0;
  }
  .community .inner .pagination .next i {
    font-size: 15px;
  }
  .community .inner .pagination .numbers a {
    width: 15px;
    font-size: 15px;
  }
  .community .inner .wrap {
    width: 100%;
  }
  .community .inner .wrap h1 {
    font-size: 40px;
  }
}
.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

.join {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  background: rgb(29, 29, 29);
  padding-top: 80px;
}
.join .sub_visual {
  height: 400px;
  background: url(../img/jointop.jpg) no-repeat center/cover;
}
.join .inner {
  width: 1180px;
  height: 900px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.join .inner .wrap {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(23, 23, 23);
}
.join .inner .wrap fieldset {
  border: none;
}
.join .inner .wrap fieldset table {
  margin: 0 auto;
}
.join .inner .wrap fieldset table th,
.join .inner .wrap fieldset table td {
  padding: 10px 25px;
}
.join .inner .wrap fieldset table th {
  width: 30%;
}
.join .inner .wrap fieldset table th input[type=reset],
.join .inner .wrap fieldset table th input[type=submit] {
  width: 30%;
  height: 40px;
  margin: 10px;
  font: bold 14px/40px "arial";
  color: #555;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}
.join .inner .wrap fieldset table th input[type=reset]:hover,
.join .inner .wrap fieldset table th input[type=submit]:hover {
  background: #333;
  color: #fff;
}
.join .inner .wrap fieldset table td {
  width: 70%;
}
.join .inner .wrap fieldset table td input[type=text],
.join .inner .wrap fieldset table td input[type=password],
.join .inner .wrap fieldset table td select {
  width: 80%;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #666;
}
.join .inner .wrap fieldset table td input[type=radio],
.join .inner .wrap fieldset table td input[type=checkbox] {
  margin-right: 30px;
}
.join .inner .wrap fieldset table td textarea {
  resize: none;
  width: 80%;
  height: 150px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #aaa;
}
.join .inner .wrap fieldset table td p {
  font: 11px/1 "맑은 고딕";
  color: rgb(207, 24, 41);
  margin-top: 5px;
}
.join .inner .wrap fieldset table td :focus {
  outline: none;
}
.join .inner .help {
  width: 40%;
  background: rgba(16, 16, 16, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.join .inner .help h1 {
  font: 60px/1 "inter";
  margin-bottom: 50px;
  color: rgb(207, 24, 41);
}
.join .inner .help p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  font: 25px/1 "inter";
}
.join .inner .help span {
  font: 20px/2 "roboto";
  color: #666;
}

@media screen and (max-width: 1179px) {
  .join {
    width: 100%;
    height: 900px;
    height: 1650px;
  }
  .join .sub_visual {
    height: 300px;
  }
  .join .inner {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join .inner .wrap {
    width: 100%;
  }
  .join .inner .wrap .pagination .prev {
    width: 80px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
  .join .inner .wrap .pagination .prev i {
    font-size: 20px;
    line-height: 20px;
  }
  .join .inner .wrap .pagination .next {
    width: 80px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
  .join .inner .wrap .pagination .next i {
    font-size: 20px;
    line-height: 20px;
  }
  .join .inner .wrap .pagination .numbers a {
    width: 20px;
  }
  .join .inner .wrap .wrap {
    width: 100%;
  }
  .join .inner .wrap .wrap h1 {
    font-size: 40px;
  }
  .join .inner .help {
    padding: 40px 0;
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  .join {
    height: 1600px;
  }
  .join .sub_visual {
    height: 200px;
  }
  .join .inner {
    width: 100%;
    padding: 20px 20px;
  }
  .join .inner .pagination .prev {
    width: 15px;
  }
  .join .inner .pagination .next {
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
  .join .inner .pagination .next i {
    height: 30px;
  }
  .join .inner .pagination .next span {
    position: absolute;
    top: -9999999999px;
    opacity: 0;
  }
  .join .inner .pagination .next i {
    font-size: 15px;
  }
  .join .inner .pagination .numbers a {
    width: 15px;
    font-size: 15px;
  }
  .join .inner .wrap {
    width: 100%;
  }
  .join .inner .wrap h1 {
    font-size: 40px;
  }
}
.facilities {
  padding-top: 80px;
}
.facilities .sub_visual {
  width: 100%;
  height: 400px;
  background: url(../img/facilities\ sub.jpg) no-repeat center/cover;
}
.facilities .inner {
  width: 100%;
  height: 1400px;
  background: rgb(29, 29, 29);
}
.facilities .inner h1 {
  padding-top: 40px;
  width: 1180px;
  margin: 0 auto;
  font: bold 45px "inter";
}
.facilities .inner #pics {
  padding-top: 40px;
  width: 1180px;
  margin: 0 auto;
}
.facilities .inner #pics aside {
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facilities .inner #pics aside img {
  height: 100%;
}
.facilities .inner #pics aside span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.facilities .inner #pics #wrap {
  background: rgb(23, 23, 23);
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.facilities .inner #pics #wrap .loading {
  width: 100px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 1;
  color: rgb(207, 24, 41);
}
.facilities .inner #pics #wrap .loading.off {
  opacity: 0;
}
.facilities .inner #pics #wrap nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  font: bold 30px "inter";
  margin-bottom: 20px;
}
.facilities .inner #pics #wrap nav ul li.on a {
  color: rgb(207, 24, 41);
}
.facilities .inner #pics #wrap #list {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.facilities .inner #pics #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.facilities .inner #pics #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.facilities .inner #pics #wrap #list li {
  width: 33.3333333333%;
  float: left;
  padding: 10px;
}
.facilities .inner #pics #wrap #list li div {
  width: 100%;
  padding: 20px;
  background: rgb(16, 16, 16);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.facilities .inner #pics #wrap #list li div a > img {
  width: 100%;
  filter: grayscale(100%);
}
.facilities .inner #pics #wrap #list li div:hover {
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
.facilities .inner #pics #wrap #list li div:hover a > img {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  filter: grayscale(0%);
}

.close {
  position: absolute;
  font-size: 40px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
}
.close i {
  color: rgb(207, 24, 41);
}

.room .inner section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}
.room .inner section .pic {
  top: 100px;
  width: 100%;
  height: 600px;
}
.room .inner section .pic .swiper {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.room .inner section .pic .swiper .swiper-pagination {
  padding-bottom: 40px;
}
.room .inner section .pic .swiper .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 200px;
}
.room .inner section .pic .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
}
.room .inner section:nth-of-type(2) .pic .swiper {
  transform: translateY(-50px);
}
.room .inner section:nth-of-type(3) .pic .swiper {
  transform: translateY(-50px);
}
.room .inner section:nth-of-type(4) .pic .swiper {
  transform: translateY(-50px);
}
.room .inner section .desc {
  transform: translateY(-50px);
  width: 1180px;
  margin: 0 auto;
  display: flex;
  height: 300px;
}
.room .inner section .desc .desctxt {
  text-align: center;
  padding: 20px;
  width: 60%;
}
.room .inner section .desc .desctxt > h1 {
  top: 100px;
  font: bold 40px/1 "inter";
  color: white;
  margin-bottom: 40px;
}
.room .inner section .desc .desctxt p {
  width: 100%;
  font: bold 20px/1.2 "roboto";
  color: #999;
  display: flex;
  align-items: center;
}
.room .inner section .desc > article {
  height: 300px;
  padding: 20px;
  text-align: left;
  width: 35%;
  background: rgb(16, 16, 16);
  opacity: 0;
  transform: rotateY(200deg) translateY(100px);
  transition: 0.5s;
  display: flex;
}
.room .inner section .desc > article:hover {
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
.room .inner section .desc > article .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.room .inner section .desc > article .right span {
  width: 100%;
  font: bold 24px/2 "roboto";
}
.room .inner section .desc > article .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.room .inner section .desc > article .left span {
  width: 100%;
  font: bold 24px/2 "roboto";
}
.room .inner section.on article {
  opacity: 1;
  transform: rotateY(0deg) translateY(0px);
}
.room .inner section:nth-of-type(1) {
  height: 100vh;
  background: rgb(29, 29, 29);
}
.room .inner section:nth-of-type(1) > h1 {
  position: absolute;
  top: 150px;
  font: bold 40px/1 "inter";
  color: white;
}
.room .inner section:nth-of-type(1) .pic .swiper .swiper-pagination {
  padding-bottom: 40px;
}
.room .inner section:nth-of-type(1) .desc {
  margin-top: 40px;
}
.room .inner section:nth-of-type(2) {
  background: rgb(23, 23, 23);
}
.room .inner section:nth-of-type(2).on article {
  opacity: 1;
  transform: rotateY(0deg) translateY(0px);
}
.room .inner section:nth-of-type(3) {
  background: rgb(29, 29, 29);
}
.room .inner section:nth-of-type(3) .pic {
  width: 100%;
}
.room .inner section:nth-of-type(4) {
  background: rgb(23, 23, 23);
}
.room .inner section:nth-of-type(4) .pic {
  width: 100%;
}
.room .inner ul {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
.room .inner ul li {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.room .inner ul li.on {
  background: rgb(207, 24, 41);
  height: 80px;
}

.location {
  width: 100%;
  background: rgb(23, 23, 23);
  padding-top: 80px;
}
.location .sub_visual {
  width: 100%;
  height: 400px;
  background: url(../img/loctop.jpg) no-repeat center/cover;
}
.location .inner {
  margin: 0 auto;
  padding-top: 30px;
  width: 1180px;
  height: 900px;
}
.location .inner h2 {
  margin-bottom: 30px;
  font: bold 45px "inter";
}
.location .inner .wrap {
  width: 100%;
}
.location .inner .wrap #map {
  width: 100%;
  height: 650px;
}
.location .inner .wrap .chain {
  float: left;
}
.location .inner .wrap .chain li {
  float: left;
}
.location .inner .wrap .chain li.on a {
  color: rgb(207, 24, 41);
}
.location .inner .wrap .chain li a {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  width: 200px;
  height: 60px;
  background: rgb(16, 16, 16);
  color: white;
  text-align: center;
  font: bold 24px/60px "roboto";
}

@media screen and (max-width: 1179px) {
  .location .sub_visual {
    height: 300px;
  }
  .location .inner {
    width: 100%;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 539px) {
  .location {
    height: 1300px;
  }
  .location .sub_visual {
    height: 200px;
  }
  .location .inner .wrap .chain {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .location .inner .wrap .chain li {
    width: 48%;
  }
  .location .inner .wrap .chain li a {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }
}
.youtube {
  width: 100%;
  height: 1500px;
  padding: 5px 0;
  background: rgb(29, 29, 29);
  padding-top: 80px;
}
.youtube .sub_visual {
  width: 100%;
  height: 400px;
  background: url(../img/videotop.jpg) no-repeat center/cover;
}
.youtube .inner {
  margin: 0 auto;
  width: 1180px;
  height: 600px;
  padding-top: 30px;
}
.youtube .inner h2 {
  margin-bottom: 30px;
  font: bold 45px "inter";
}
.youtube .inner .vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.youtube .inner .vidList article {
  width: 32%;
  height: 400px;
  background: rgb(23, 23, 23);
  margin-bottom: 20px;
}
.youtube .inner .vidList article:hover {
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
.youtube .inner .vidList article:hover .con p {
  color: white;
}
.youtube .inner .vidList article:hover .con span {
  color: white;
}
.youtube .inner .vidList article:hover .pic img {
  filter: grayscale(0);
}
.youtube .inner .vidList article .pic {
  display: block;
  width: 100%;
  height: 53%;
}
.youtube .inner .vidList article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.youtube .inner .vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.youtube .inner .vidList article .con h2 {
  margin-top: 10px;
  font: bold 20px/1.2 "inter";
  color: white;
  margin-bottom: 15px;
}
.youtube .inner .vidList article .con p {
  font: 14px/1.4 "roboto";
  color: #666;
  margin-top: 30px;
}
.youtube .inner .vidList article .con span {
  margin-top: 30px;
  font: bold 16px/1 "roboto";
  float: right;
  color: rgb(207, 24, 41);
}

figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  overflow: hidden;
  z-index: 999;
}
figure.pop .btnClose {
  position: absolute;
  font-size: 40px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
}
figure.pop .btnClose i {
  color: rgb(207, 24, 41);
}

@media screen and (max-width: 1179px) {
  .youtube {
    height: 1800px;
  }
  .youtube .sub_visual {
    height: 300px;
  }
  .youtube .inner {
    width: 100%;
    padding: 20px 20px;
  }
  .youtube .inner .vidList article {
    width: 48%;
  }
  figure.pop {
    padding: 20vw 10vw;
  }
}
@media screen and (max-width: 539px) {
  .youtube {
    height: 2950px;
  }
  .youtube .sub_visual {
    height: 200px;
  }
  .youtube .inner .vidList article {
    width: 100%;
  }
}
:root {
  --swiper-theme-color: rgb(207, 24, 41);
}

#header {
  width: 100%;
  background: rgb(16, 16, 16);
  position: fixed;
  z-index: 5;
}
#header .inner {
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 0px;
  top: 20px;
}
#header .inner > h1 a i {
  font-size: 30px;
  color: rgb(207, 24, 41);
}
#header .inner > h1 a i:hover {
  color: white;
}
#header .menuWeb #gnb {
  position: absolute;
  right: 0;
  top: 0;
}
#header .menuWeb #gnb li {
  float: left;
}
#header .menuWeb #gnb li a {
  display: block;
  padding: 30px 10px;
  color: white;
  font-family: "inter";
}
#header .menuWeb #gnb li a:hover {
  color: rgb(207, 24, 41);
}
#header .btnCall {
  position: absolute;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  display: none;
}
#header .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -999999px;
  transition: all 1s;
}
#header .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .menuMo {
  width: 270px;
  height: 100vh;
  background-color: rgb(23, 23, 23);
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  text-align: center;
  transition: 0.5s;
  display: none;
}
#header .menuMo.on {
  left: 0;
}
#header .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 3px solid white;
}
#header .menuMo h1 a {
  display: block;
  font: bold 40px/1 "arial";
  color: white;
  text-align: center;
  padding: 50px;
}
#header .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 40px 0;
  font: bold 25px/1 "inter";
  color: white;
}

#visual {
  width: 100%;
  height: 680px;
  background: rgb(16, 16, 16);
  padding-top: 80px;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
}
#visual .inner .wrap {
  width: 100%;
}
#visual .inner .wrap article {
  display: flex;
}
#visual .inner .wrap article .pic {
  width: 80%;
  margin-right: 40px;
  background: url(../img/IMG_0116.PNG) no-repeat center/cover;
  float: left;
  height: 600px;
}
#visual .inner .wrap article .hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#visual .inner .wrap article .hello h1 {
  font: bold 60px/1 "inter";
  padding-bottom: 20px;
}
#visual .inner .wrap article .hello h2 {
  font: 30px/1 "inter";
  color: rgb(207, 24, 41);
  font-size: 20px;
  padding-bottom: 10px;
}
#visual .inner .wrap article .hello p {
  color: #999;
  padding-bottom: 40px;
  line-height: 30px;
  opacity: 0.6;
  font-family: "roboto";
}
#visual .inner .wrap article .hello a {
  display: block;
  height: 50x;
  width: 250px;
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
  float: left;
  color: white;
  font: bold 15px/50px "inter";
  text-align: center;
}
#visual .inner .wrap article .hello a:hover {
  background: linear-gradient(90deg, rgb(150, 33, 41), rgb(214, 40, 52));
}

#top {
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(90deg, rgb(23, 23, 23) 50%, rgb(16, 16, 16) 50%);
}
#top .inner {
  margin: 0 auto;
  width: 1180px;
}
#top .inner .wrap {
  width: 100%;
}
#top .inner .wrap::after {
  display: block;
  content: "";
  clear: both;
}
#top .inner .wrap article {
  padding: 50px;
  background: rgb(29, 29, 29);
  width: 380px;
  float: left;
  margin-right: 20px;
}
#top .inner .wrap article:hover {
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
#top .inner .wrap article:hover .pic {
  width: 100px;
  height: 100px;
  font-size: 60px;
}
#top .inner .wrap article:hover .pic i {
  color: white;
}
#top .inner .wrap article:hover p {
  color: white;
  opacity: 0.6;
}
#top .inner .wrap article:hover a {
  color: white;
}
#top .inner .wrap article:hover a i {
  color: white;
}
#top .inner .wrap article:hover a:hover {
  color: rgb(16, 16, 16);
}
#top .inner .wrap article:hover a:hover i {
  color: rgb(16, 16, 16);
}
#top .inner .wrap article:last-child {
  margin-right: 0px;
}
#top .inner .wrap article .pic {
  width: 100px;
  height: 100px;
  font-size: 60px;
}
#top .inner .wrap article .pic i {
  color: rgb(207, 24, 41);
}
#top .inner .wrap article > h1 {
  font: bold 30px/1 "inter";
  padding-top: 10px;
}
#top .inner .wrap article p {
  font: 15px/20px "roboto";
  display: block;
  color: #999;
  padding-top: 40px;
  padding-bottom: 30px;
  opacity: 0.6;
}
#top .inner .wrap article a {
  font-size: 15px "roboto";
  color: rgb(207, 24, 41);
}
#top .inner .wrap article a i {
  font: 15px;
  color: rgb(207, 24, 41);
}

#content {
  width: 100%;
  padding-top: 80px;
}
#content .inner {
  width: 100%;
  height: 1000px;
  padding-top: 200px;
  background: rgb(16, 16, 16);
}
#content .inner .wrap {
  width: 1180px;
  height: 500px;
  margin: 0 auto;
  border: 10px solid red;
}

#rank {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(90deg, rgb(23, 23, 23) 50%, rgb(16, 16, 16) 50%);
}
#rank .inner {
  width: 1180px;
  margin: 0 auto;
}
#rank .inner .wrap {
  width: 100%;
  height: 300px;
}
#rank .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#rank .inner .wrap article {
  width: 380px;
  height: 140px;
  background: rgb(29, 29, 29);
  text-align: center;
  padding-top: 35px;
}
#rank .inner .wrap article > h1 {
  font: bold 30px/1 "inter";
  color: rgb(207, 24, 41);
  margin-bottom: 10px;
}
#rank .inner .wrap article > h1 i {
  color: rgb(207, 24, 41);
  margin-top: 20px;
  letter-spacing: 5px;
}
#rank .inner .wrap article h2 {
  font: bold 15px/1 "roboto";
  padding-top: 10px;
  color: #999;
}
#rank .inner .wrap article:nth-of-type(1) {
  width: 380px;
  height: 300px;
  background: rgb(23, 23, 23);
  float: left;
  margin-right: 20px;
  text-align: center;
  padding-top: 75px;
}
#rank .inner .wrap article:nth-of-type(1) > h1 {
  font: bold 50px/1 "inter";
  color: rgb(207, 24, 41);
}
#rank .inner .wrap article:nth-of-type(1) > h2 {
  font: bold 25px/1 "roboto";
  padding-top: 10px;
  color: white;
}
#rank .inner .wrap article:nth-of-type(2) {
  float: left;
}
#rank .inner .wrap article:nth-of-type(2) h2 {
  opacity: 0.6;
}
#rank .inner .wrap article:nth-of-type(3) {
  float: right;
  margin-bottom: 20px;
}
#rank .inner .wrap article:nth-of-type(3) h2 {
  opacity: 0.6;
}
#rank .inner .wrap article:nth-of-type(4) {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
#rank .inner .wrap article:nth-of-type(4) h2 {
  opacity: 0.6;
}
#rank .inner .wrap article:nth-of-type(5) {
  float: left;
}
#rank .inner .wrap article:nth-of-type(5) h2 {
  opacity: 0.6;
}

#gallery {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, rgb(16, 16, 16) 70%, rgb(23, 23, 23) 30%);
}
#gallery .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#gallery .inner .wrap {
  width: 100%;
  background-color: transparent;
}
#gallery .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#gallery .inner .wrap > h1 {
  font: bold 30px/1 "inter";
  margin-bottom: 20px;
}
#gallery .inner .wrap p {
  font: 15px/1 "roboto";
  margin-bottom: 50px;
  color: #999;
  opacity: 0.6;
}
#gallery .inner .wrap > a {
  display: block;
  height: 50x;
  width: 180px;
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
  color: white;
  font: bold 15px/50px "inter";
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
#gallery .inner .wrap > a:hover {
  background: linear-gradient(90deg, rgb(150, 33, 41), rgb(214, 40, 52));
}
#gallery .inner .wrap article {
  margin-bottom: 80px;
  background: rgb(29, 29, 29);
  width: 580px;
  height: 400px;
  float: left;
}
#gallery .inner .wrap article .pic {
  width: 500px;
  height: 300px;
  margin: 50px auto;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
#gallery .inner .wrap article:nth-of-type(1) {
  margin-right: 20px;
}
#gallery .inner .wrap article:nth-of-type(1) .pic {
  background: url(../img/main/banquet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#gallery .inner .wrap article:nth-of-type(2) .pic {
  background: url(../img/main/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery .inner .wrap article:nth-of-type(3) {
  margin-top: 40px;
  margin-right: 20px;
}
#gallery .inner .wrap article:nth-of-type(3) .pic {
  background: url(../img/main/bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery .inner .wrap article:nth-of-type(4) {
  margin-top: 40px;
  padding: 0 auto;
}
#gallery .inner .wrap article:nth-of-type(4) .pic {
  background: url(../img/main/swim.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery .inner .wrap article h2 {
  font: bold 28px "inter";
  padding-top: 25px;
  width: 100%;
  text-align: left;
  float: left;
}
#gallery .inner .wrap article a {
  width: 100%;
  height: 59px;
  padding-top: 25px;
  text-align: left;
  display: block;
  font: bold 13px/40px "roboto";
  color: rgb(207, 24, 41);
}
#gallery .inner .wrap article a:hover {
  color: rgb(226, 40, 53);
}
#gallery .inner .wrap article a i {
  font: 15px;
  color: rgb(207, 24, 41);
}
#gallery .inner .wrap article a:hover i {
  color: rgb(226, 40, 53);
}

#banner {
  width: 100%;
  padding: 150px 0;
  height: 300px;
  background: linear-gradient(180deg, rgb(23, 23, 23) 50%, rgb(16, 16, 16) 50%);
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
  background: rgb(29, 29, 29);
  position: relative;
  transform: translateY(-50%);
}
#banner .inner .wrap {
  padding: 50px 50px;
  height: 300px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
#banner .inner .wrap h1 {
  font: bold 40px/50px "inter";
  width: 580px;
  margin-bottom: 20px;
  margin-top: 50px;
}
#banner .inner .wrap p {
  color: #999;
  padding-bottom: 40px;
  line-height: 30px;
  opacity: 0.6;
  font-family: "roboto";
}
#banner .inner .wrap a {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 150px;
  height: 50px;
  font: bold 15px/50px "inter";
  text-align: center;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
}
#banner .inner .wrap a:hover {
  background: linear-gradient(90deg, rgb(150, 33, 41), rgb(214, 40, 52));
}

#tab {
  width: 100%;
  height: 1100px;
  background: rgb(16, 16, 16);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tab main {
  width: 1180px;
  height: 550px;
  background: rgba(29, 29, 29, 0.6);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#tab main nav {
  width: 30%;
  height: 550px;
  display: flex;
  background: rgba(29, 29, 29, 0.2);
  align-items: flex-end;
  justify-content: center;
}
#tab main nav ul {
  width: 100%;
}
#tab main nav ul li {
  width: 100%;
  height: 137.5px;
}
#tab main nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font: bold 25px/1 "inter";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
#tab main nav ul li a:hover {
  color: rgb(207, 24, 41);
}
#tab main nav ul li.on a {
  background: rgb(29, 29, 29);
}
#tab main section {
  width: 70%;
  height: 100%;
  position: relative;
}
#tab main section article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  transform: 1s;
}
#tab main section article.on {
  opacity: 1;
  z-index: 2;
}
#tab main section article.on .swiper {
  width: 100%;
  height: 100%;
}
#tab main section article.on .swiper .swiper-wrapper .swiper-slide {
  background: rgb(29, 29, 29);
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#tab main section article.on .swiper .swiper-wrapper img {
  position: relative;
  width: 100%;
  max-height: 550px;
  z-index: 5;
  box-shadow: 3px 0px 10px rgb(0, 0, 0);
}
#tab main section article.on .swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: white;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
#tab main section article.on .swiper .swiper-pagination-bullet:hover {
  background: rgb(207, 24, 41);
  color: white;
}
#tab main section article.on .swiper .swiper-horizontal > .swiper-pagination-progressbar,
#tab main section article.on .swiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
#tab main section article.on .swiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
#tab main section article.on .swiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: auto;
  bottom: 0;
}
#tab main section article.on .swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgb(207, 24, 41);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
#tab main section article.on .swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: rgb(207, 24, 41);
}
#tab main section article.on .swiper .swiper-button-next {
  color: #fff;
}
#tab main section article.on .swiper .swiper-button-next:hover {
  color: rgb(207, 24, 41);
}
#tab main section article.on .swiper .swiper-button-prev {
  color: #fff;
}
#tab main section article.on .swiper .swiper-button-prev:hover {
  color: rgb(207, 24, 41);
}

#faq {
  width: 100%;
  background: linear-gradient(90deg, rgb(16, 16, 16) 50%, rgb(23, 23, 23) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
#faq .container {
  max-width: 1180px;
  margin: 0px 40px;
  flex-direction: column;
}
#faq .container h1 {
  color: white;
  font-size: 30px;
  font-family: "inter";
}
#faq .container .question {
  position: relative;
  background: rgb(29, 29, 29);
  margin-top: 20px;
  overflow: hidden;
  padding: 0px 20px 20px;
}
#faq .container .question:hover label::after {
  color: rgb(207, 24, 41);
}
#faq .container .question input {
  appearance: none;
}
#faq .container .question input:checked + label::after {
  transform: rotate(135deg);
  color: rgb(207, 24, 41);
  opacity: 0;
}
#faq .container .question input:checked + label h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: flex-end;
  font-size: 100px;
  padding: 20px;
  transition: 1s;
  color: rgb(207, 24, 41);
  opacity: 0.6;
}
#faq .container .question input:checked ~ .content {
  max-height: 100vh;
}
#faq .container .question input:checked ~ label h3 {
  padding-top: 10px;
  color: white;
  font: bold 25px/1 "inter";
}
#faq .container .question label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#faq .container .question label::after {
  content: "+";
  position: absolute;
  right: 30px;
  font-size: 30px;
  transition: 1s;
  color: white;
}
#faq .container .question label h2 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-family: "inter";
  margin-right: 10px;
  vertical-align: middle;
  padding-left: 20px;
}
#faq .container .question label h3 {
  font-weight: 500px;
  color: white;
  position: relative;
  font-family: "inter";
  z-index: 10;
  padding-left: 20px;
}
#faq .container .question .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}
#faq .container .question .content p {
  position: relative;
  padding: 15px 0;
  z-index: 10;
  font: bold 15px/20px "roboto";
  max-width: 70%;
  color: #999;
  opacity: 0.6;
  padding-left: 20px;
  line-height: 20px;
}

#footer {
  width: 100%;
  padding-top: 100px;
  margin-bottom: -100px;
  height: 150px;
  background: rgb(16, 16, 16);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#footer .inner .logo1 {
  position: absolute;
  bottom: 25px;
  left: 0;
  transform: translateY(-50%);
}
#footer .inner .logo1 i {
  color: rgb(207, 24, 41);
}
#footer .inner .logo1 i:hover {
  color: white;
}
#footer .inner .logo2 {
  position: absolute;
  bottom: 25px;
  right: 0;
  transform: translateY(-50%);
}
#footer .inner .logo2 i:hover {
  color: rgb(207, 24, 41);
}
#footer .inner .second {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-46%, -50%);
}
#footer .inner .second li {
  float: left;
  margin-right: 20px;
  color: black;
  font-family: "inter";
}
#footer .inner .second li a {
  color: white;
}
#footer .inner .second li a:hover {
  color: rgb(207, 24, 41);
}
#footer .inner p {
  position: relative;
  text-align: center;
  font: 12px "inter";
  color: #999;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 80px;
  }
  #header .inner > h1 {
    margin-left: 40px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo {
    display: block;
  }
  #visual {
    height: 500px;
  }
  #visual .inner {
    width: 100%;
  }
  #visual .inner .wrap article .pic {
    margin-left: 40px;
    height: 420px;
    width: 60%;
  }
  #visual .inner .wrap article .hello h1 {
    font-size: 40px;
  }
  #visual .inner .wrap article .hello h2 {
    font-size: 20px;
  }
  #visual .inner .wrap article .hello p {
    font-size: 15px;
    margin-right: 40px;
  }
  #top .inner {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  #top .inner .wrap {
    width: 100%;
  }
  #top .inner .wrap article {
    margin-right: 2%;
    width: 32%;
    height: 400px;
  }
  #top .inner .wrap article > h1 {
    font-size: 18px;
  }
  #top .inner .wrap article p {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #top .inner .wrap article a {
    font-size: 13px;
  }
  #top .inner .wrap article:last-child {
    margin-right: 0;
  }
  #top .inner .wrap article .pic {
    width: 28.5714285714%;
  }
  #rank .inner {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  #rank .inner .wrap > h1 {
    width: 50%;
  }
  #rank .inner .wrap article {
    width: 32%;
  }
  #rank .inner .wrap article:nth-of-type(1) {
    margin-right: 2%;
    width: 32%;
    padding-top: 50px;
  }
  #rank .inner .wrap article:nth-of-type(2) {
    margin-right: 2%;
  }
  #rank .inner .wrap article:nth-of-type(4) {
    margin-right: 2%;
  }
  #gallery .inner {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  #gallery .inner .wrap > a {
    margin-right: 40px;
  }
  #gallery .inner .wrap h1 {
    padding-top: 10px;
  }
  #gallery .inner .wrap p {
    margin-top: 40px;
  }
  #gallery .inner .wrap article {
    width: 100%;
    height: 600px;
  }
  #gallery .inner .wrap article .pic:nth-of-type(1) {
    width: 90%;
    height: 400px;
  }
  #gallery .inner .wrap article .pic:nth-of-type(1) a {
    padding-left: 46px;
    width: 200px;
  }
  #gallery .inner .wrap article h2 {
    width: 100%;
    margin-top: -20px;
    text-align: center;
  }
  #gallery .inner .wrap article a {
    text-align: center;
    width: 100%;
  }
  #banner {
    padding-right: 40px;
    padding-left: 40px;
  }
  #banner .inner {
    width: 100%;
  }
  #banner .inner .wrap h1 {
    width: 95%;
    font-size: 40px;
    margin-top: 10px;
  }
  #banner .inner .wrap p {
    display: none;
  }
  #banner .inner .wrap a {
    right: -10%;
  }
  #tab main {
    height: 800px;
    margin-right: 40px;
    margin-left: 40px;
    flex-direction: column;
  }
  #tab main nav {
    width: 100%;
    height: 20%;
  }
  #tab main nav ul li {
    width: 25%;
    float: left;
  }
  #tab main section {
    width: 100%;
  }
  #tab main section article .swiper .swiper-wrapper .swiper-slide img {
    width: 60%;
    height: 60%;
  }
  #tab main section article.on .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 80%;
  }
  #footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #visual .inner .wrap article {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  #visual .inner .wrap article .pic {
    display: none;
  }
  #visual .inner .wrap article .hello p {
    margin-right: 0;
  }
  #visual .inner .wrap article .hello a {
    align-items: center;
    margin: 0 auto;
  }
  #top .inner .wrap article {
    padding: 30px 50px 0 50px;
    width: 100%;
    margin-bottom: 20px;
    height: 300px;
  }
  #top .inner .wrap article:hover {
    background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
  }
  #top .inner .wrap article:hover .pic {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
  #top .inner .wrap article:hover .pic i {
    color: white;
  }
  #top .inner .wrap article:hover p {
    color: white;
    opacity: 0.6;
  }
  #top .inner .wrap article:hover a {
    color: white;
  }
  #top .inner .wrap article:hover a i {
    color: white;
  }
  #top .inner .wrap article:hover a:hover {
    color: rgb(16, 16, 16);
  }
  #top .inner .wrap article:hover a:hover i {
    color: rgb(16, 16, 16);
  }
  #top .inner .wrap article .pic {
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin-bottom: 30px;
  }
  #top .inner .wrap article .pic i {
    color: rgb(207, 24, 41);
  }
  #top .inner .wrap article > h1 {
    font: bold 30px/1 "inter";
  }
  #top .inner .wrap article p {
    font: 15px/20px "roboto";
    display: block;
    color: #999;
    padding-bottom: 30px;
    opacity: 0.6;
  }
  #top .inner .wrap article a {
    font-size: 15px "roboto";
    color: rgb(207, 24, 41);
  }
  #top .inner .wrap article a i {
    font: 15px;
    color: rgb(207, 24, 41);
  }
  #rank .inner .wrap article:nth-of-type(1) {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 85px;
  }
  #rank .inner .wrap article:nth-of-type(2) {
    width: 47%;
    margin-right: 6%;
  }
  #rank .inner .wrap article:nth-of-type(3) {
    width: 47%;
  }
  #rank .inner .wrap article:nth-of-type(4) {
    width: 47%;
    margin-right: 6%;
  }
  #rank .inner .wrap article:nth-of-type(5) {
    width: 47%;
  }
  #gallery .inner .wrap {
    text-align: center;
  }
  #gallery .inner .wrap > h1 {
    margin-top: 40px;
  }
  #gallery .inner .wrap p {
    margin-bottom: 40px;
  }
  #gallery .inner .wrap > a {
    position: relative;
    right: auto;
    margin: 0 auto;
  }
  #gallery .inner .wrap article {
    margin-top: 40px;
    height: 360px;
  }
  #gallery .inner .wrap article .pic {
    height: 300px;
  }
  #gallery .inner .wrap article .pic:nth-of-type(1) {
    height: 300px;
    margin: 30px auto;
  }
  #gallery .inner .wrap article h2 {
    margin-top: 5px;
    padding-left: 0px;
  }
  #gallery .inner .wrap article a {
    padding-left: 0;
    text-align: center;
  }
  #banner .inner .wrap {
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 40px;
    justify-content: flex-start;
  }
  #banner .inner .wrap > h1 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
  }
  #banner .inner .wrap a {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    text-align: center;
    transform: translate(0, 0);
    position: inherit;
  }
  #tab {
    height: 800px;
  }
  #tab main {
    height: 500px;
  }
  #tab main nav ul li {
    height: 100px;
  }
  #tab main nav ul li a {
    font-size: 15px;
  }
  #tab section {
    height: 400px;
  }
  #faq {
    min-height: 80vh;
  }
  footer .inner .second {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
