.lists {
	.sub_visual {
		width: 100%;
		height: 400px;
		background: url(../img/about/aboutop.jpg) no-repeat center/cover;
	}
	width: 100%;
	height: 1450px;
	padding: 80px 0px;
	background: rgb(23, 23, 23);
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding-top: 30px;
		.wrap {
			width: 100%;
			height: 800px;
			h1 {
				font: bold 60px/1 "inter";
				margin-bottom: 30px;
				// @include red;
			}
			// border: 1px solid red;
			article {
				float: left;
				width: 280px;
				height: 400px;
				background: rgb(16, 16, 16);

				// border: 1px solid red;
				margin-right: 20px;
				margin-bottom: 20px;
				&:nth-of-type(4) {
					margin-right: 0px;
				}
				&:nth-of-type(8) {
					margin-right: 0px;
				}
				display: flex;
				flex-direction: column;

				.pic {
					margin: 20px auto;
					width: 240px;
					height: 240px;
					background: #fff;
					background-image: url(../img/department/dep1.jpg);
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					filter: grayscale(100);
					box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
				}

				.txt {
					color: #fff;
					font-family: "roboto";
					text-align: center;
					margin-top: 20px;
					letter-spacing: 1px;
					h2 {
						@include red;
					}
					p {
						font-size: 15px;
						margin-top: 20px;
						color: #999;
					}
				}
				&:hover {
					@include button;
					.pic {
						filter: grayscale(0);
					}
					h2 {
						color: #fff;
					}
					p {
						color: #fff;
					}
				}
			}
		}
	}
}

.youtube {
	width: 100%;
	height: 1050px;
	padding: 5px 0;
	background: rgb(16, 16, 16);
	.inner {
		margin: 0 auto;
		width: 1180px;
		height: 600px;
		padding-top: 30px;
		h2 {
			margin-bottom: 30px;
			font: bold 60px/1 "inter";
		}
		.vidList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;

			article {
				width: 32%;
				height: 400px;
				background: rgb(23, 23, 23);
				margin-bottom: 20px;
				&:hover {
					@include button;
					.con {
						p {
							color: white;
						}
						span {
							color: white;
						}
					}
					.pic {
						img {
							filter: grayscale(0);
						}
					}
				}
				.pic {
					display: block;
					width: 100%;
					height: 53%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: grayscale(100%);
					}
				}
				.con {
					width: 100%;
					height: 40%;
					padding: 20px;
					h2 {
						margin-top: 10px;

						font: bold 20px/1.2 "arial";
						color: white;
						margin-bottom: 15px;
					}
					p {
						font: 14px/1.4 "arial";
						color: #666;
						margin-top: 30px;

						// margin-bottom: 20px;
					}
					span {
						margin-top: 30px;
						font: bold 16px/1 "arial";
						float: right;
						@include red;
					}
				}
			}
		}
	}
}

.location {
	width: 100%;
	background: rgb(23, 23, 23);
	.inner {
		margin: 0 auto;
		padding-top: 30px;
		h2 {
			margin-bottom: 30px;
			font: bold 60px/1 "inter";
		}
		width: 1180px;
		height: 900px;
		.wrap {
			width: 100%;
			#map {
				width: 100%;
				height: 650px;
			}
			.chain {
				float: left;

				li {
					float: left;
					&.on {
						a {
							@include red;
						}
					}
					a {
						display: block;
						width: 200px;
						height: 60px;
						background: rgb(16, 16, 16);
						color: white;
						text-align: center;
						font: bold 24px/60px "roboto";
					}
				}
			}
		}
	}
}
figure.pop {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vw;
	overflow: hidden;
	z-index: 999;

	.btnClose {
		position: absolute;
		font-size: 40px;
		top: 50px;
		right: 50px;
		cursor: pointer;
		z-index: 999;
		i {
			@include red;
		}
	}
}

@media screen and (max-width: 1179px) {
	.lists {
		.sub_visual {
			height: 300px;
		}
		height: 1850px;
		.inner {
			width: 100%;
			padding: 20px 20px;

			.wrap {
				width: 100%;
				h1 {
					font-size: 40px;
				}
				article {
					width: 32%;
					margin-right: 2%;
					&:nth-of-type(3) {
						margin-right: 0px;
					}
					&:nth-of-type(4) {
						margin-right: 2%;
					}
					&:nth-of-type(5) {
						margin-right: 2%;
					}
					&:nth-of-type(6) {
						float: left;
						margin-right: 0px;
					}
					.pic {
						width: 25vw;
						height: 25vw;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.lists {
		.sub_visual {
			height: 200px;
		}
		.inner {
			.wrap {
				article {
					float: none;
					height: 150px;
					width: 100%;
					display: flex;
					flex-direction: row;
					.pic {
						width: 25vw;
						margin: auto;
					}
					.txt {
						width: 60%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin-top: 0;
					}
				}
			}
		}
	}
}
