.community {
	padding-top: 80px;

	.sub_visual {
		width: 100%;

		height: 400px;
		background: url(../img/comtop.jpg) no-repeat center/cover;
	}
	width: 100%;
	height: 1500px;
	padding-top: 80px;
	background: rgb(29, 29, 29);
	.inner {
		width: 1180px;
		margin: 0 auto;
		h1 {
			padding-top: 40px;
			font: bold 45px "inter";
			letter-spacing: 2px;
		}
		table {
			padding-top: 40px;

			width: 100%;
			margin-bottom: 50px;
			.hidden {
				opacity: 0;
				top: -99999999999;
			}
			tr {
				background: rgb(23, 23, 23);

				&:hover {
					background: rgb(207, 24, 41);
				}
				th {
					padding: 15px;
					background: rgb(16, 16, 16);
					color: #fff;
					&:nth-of-type(1) {
						width: 10%;
					}
					&:nth-of-type(3) {
						width: 15%;
					}
					&:nth-of-type(4) {
						width: 15%;
					}
				}
				td {
					padding: 13px;
					border-bottom: 1px solid rgb(23, 23, 23);
					text-align: center;
					&:nth-of-type(2) {
						text-align: left;
					}
					&:nth-of-type(3) {
						font-family: "맑은 고딕";
					}
					a {
						color: white;
						line-height: 1.4;
					}
				}
			}
		}
		.pagination {
			width: 100%;
			text-align: center;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.prev {
				float: left;
				display: block;
				width: 90px;
				height: 30px;
				color: #666;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				opacity: 0;
				span {
					opacity: 1;
					color: #666;
				}
				i {
					color: #666;
				}
				&:hover {
					@include red;
					i {
						@include red;
					}
					span {
						@include red;
					}
				}
			}
			.next {
				float: right;

				display: block;
				width: 90px;
				height: 30px;
				color: #666;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				span {
					opacity: 1;
					position: relative;
					top: auto;
					color: #666;
				}
				i {
					color: #666;
				}
				&:hover {
					@include red;
					i {
						@include red;
					}
					span {
						@include red;
					}
				}
			}
			.numbers {
				display: inline-block;
				text-align: center;

				a {
					display: inline-block;
					width: 30px;
					height: 30px;
					font: 20px/30px "roboto";
					color: #666;
					margin: 0 5px;
					transition: 0.5s;
					&.on {
						@include red;
					}
					&:hover {
						@include red;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.community {
		height: 900px;
		.sub_visual {
			height: 300px;
		}
		height: 1850px;
		.inner {
			width: 100%;
			padding: 20px 20px;
			.pagination {
				.prev {
					width: 80px;
					font-size: 20px;
					line-height: 20px;

					height: 20px;
					i {
						font-size: 20px;
						line-height: 20px;
					}
				}
				.next {
					width: 80px;
					font-size: 20px;
					line-height: 20px;

					height: 20px;
					i {
						font-size: 20px;
						line-height: 20px;
					}
				}
				.numbers {
					a {
						width: 20px;
					}
				}
			}
			.wrap {
				width: 100%;
				h1 {
					font-size: 40px;
				}
			}
		}
	}
}

@media screen and (max-width: 539px) {
	.community {
		height: 1300px;
		.sub_visual {
			height: 200px;
		}
		.inner {
			width: 100%;
			padding: 20px 20px;
			.pagination {
				.prev {
					width: 15px;
				}
				.next {
					line-height: 30px;
					width: 30px;
					height: 30px;
					i {
						height: 30px;
					}
					span {
						position: absolute;
						top: -9999999999px;
						opacity: 0;
					}
					i {
						font-size: 15px;
					}
				}
				.numbers {
					a {
						width: 15px;
						font-size: 15px;
					}
				}
			}
			.wrap {
				width: 100%;
				h1 {
					font-size: 40px;
				}
			}
		}
	}
}
