.room {
	.inner {
		section {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: calc(100vh - 80px);

			.pic {
				width: 100%;
				height: 60vh;
				top: 120px;
				position: absolute;
				.swiper {
					top: 0;
					width: 100%;
					height: 45vh;
					// padding-bottom: 10vh;

					.swiper-pagination {
						padding-top: 2vh;
					}
					.swiper-wrapper {
						// height: 800px;
						.swiper-slide {
							margin-top: 40px;
							background-position: center;
							background-size: cover;
							width: 50vh;
							height: 30vh;
							img {
								display: block;
								width: 100%;
							}
						}
					}
				}
			}
			&:nth-of-type(2) {
				background: rgb(23, 23, 23);
				&.on {
					article {
						opacity: 1;
						transform: rotateY(0deg) translateY(0px);
					}
				}
				.pic {
					.swiper {
						transform: translateY(-50px);
					}
				}
			}
			&:nth-of-type(3) {
				background: rgb(29, 29, 29);

				.pic {
					width: 100%;

					.swiper {
						transform: translateY(-50px);
					}
				}
			}
			&:nth-of-type(4) {
				background: rgb(23, 23, 23);
				.pic {
					width: 100%;
					.swiper {
						transform: translateY(-50px);
					}
				}
			}
			.desc {
				transform: translateY(0px);

				width: 1180px;
				margin: 0 auto;
				display: flex;
				height: 30vh;

				.desctxt {
					text-align: center;
					padding: 2vh;
					> h1 {
						top: 100px;
						font: bold 40px/1 'inter';
						color: white;
						margin-bottom: 4vh;
					}
					p {
						width: 100%;
						font: bold 20px/1.2 'roboto';
						color: #999;
						display: flex;
						align-items: center;
					}
					width: 60%;
				}
				> article {
					height: 30vh;
					padding: 2vh;
					text-align: left;
					width: 35%;
					background: rgb(16, 16, 16);
					opacity: 0;
					transform: rotateY(200deg) translateY(100px);
					transition: 0.5s;
					display: flex;
					&:hover {
						@include button;
					}
					.right {
						width: 50%;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						text-align: center;

						span {
							width: 100%;
							font: bold 24px/2 'roboto';
						}
					}
					.left {
						width: 50%;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						text-align: center;
						span {
							width: 100%;
							font: bold 24px/2 'roboto';
						}
					}
				}
			}
			&.on {
				article {
					opacity: 1;
					transform: rotateY(0deg) translateY(0px);
				}
			}
			&:nth-of-type(1) {
				height: 100vh;
				background: rgb(29, 29, 29);
				> h1 {
					position: absolute;
					top: 150px;
					font: bold 40px/1 'inter';
					color: white;
				}
				.pic {
					width: 100%;
					height: 60vh;
					top: 165px;
					position: absolute;
					.swiper {
						.swiper-pagination {
							padding-bottom: 0vh;
						}
					}
				}
				.desc {
					margin-top: 4vh;
				}
			}

			&:nth-of-type(4) {
				.pic {
					width: 100%;
				}
				background: rgb(23, 23, 23);
			}
		}

		ul {
			z-index: 5;
			position: fixed;
			top: 50%;
			right: 50px;
			transform: translateY(-50%);
			li {
				width: 20px;
				height: 20px;
				border-radius: 10px;
				background: white;
				margin-bottom: 20px;
				cursor: pointer;
				transition: 0.5s;
				&.on {
					background: rgb(207, 24, 41);
					height: 80px;
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.room {
		.inner {
			width: 100%;
			// padding: 20px 20px;
			section {
				.pic {
					height: 600px;
					&:nth-of-type(1) {
						height: 20vh;
					}
					.swiper {
						height: 35vh;
						.swiper-pagination {
							padding-top: auto;
						}
						.swiper-wrapper {
							.swiper-slide {
								height: 10vh;
								width: 40vh;
								img {
									width: 40vh;
								}
							}
						}
					}
					.desc {
						padding: 0 40px;
						width: 100%;
						flex-direction: column;
						.desctxt {
							width: 100%;
						}
						> article {
							height: 15vh;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 539px) {
	.room {
		height: 4750px;
		.inner {
			section {
				padding: 0 40px;
				.pic {
					.swiper {
						padding: 0 40px;
						.swiper-wrapper {
							.swiper-slide {
								img {
									// padding: 0 40px;
								}
							}
						}
					}
					.desc {
						> article {
							display: none;
						}
					}
				}
			}
		}
	}
}
