.youtube {
	width: 100%;
	height: 1500px;
	padding: 5px 0;
	background: rgb(29, 29, 29);
	padding-top: 80px;

	.sub_visual {
		width: 100%;
		height: 400px;
		background: url(../img/videotop.jpg) no-repeat center/cover;
	}
	.inner {
		margin: 0 auto;
		width: 1180px;
		height: 600px;
		padding-top: 30px;
		h2 {
			margin-bottom: 30px;
			font: bold 45px 'inter';
		}
		.vidList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;

			article {
				width: 32%;
				height: 400px;
				background: rgb(23, 23, 23);
				margin-bottom: 20px;
				&:hover {
					@include button;
					.con {
						p {
							color: white;
						}
						span {
							color: white;
						}
					}
					.pic {
						img {
							filter: grayscale(0);
						}
					}
				}
				.pic {
					display: block;
					width: 100%;
					height: 53%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: grayscale(100%);
					}
				}
				.con {
					width: 100%;
					height: 40%;
					padding: 20px;
					h2 {
						margin-top: 10px;

						font: bold 20px/1.2 'inter';
						color: white;
						margin-bottom: 15px;
					}
					p {
						font: 14px/1.4 'roboto';
						color: #666;
						margin-top: 30px;

						// margin-bottom: 20px;
					}
					span {
						margin-top: 30px;
						font: bold 16px/1 'roboto';
						float: right;
						@include red;
					}
				}
			}
		}
	}
}
figure.pop {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10vw;
	overflow: hidden;
	z-index: 999;

	.btnClose {
		position: absolute;
		font-size: 40px;
		top: 50px;
		right: 50px;
		cursor: pointer;
		z-index: 999;
		i {
			@include red;
		}
	}
}
@media screen and (max-width: 1179px) {
	.youtube {
		height: 1800px;
		.sub_visual {
			height: 300px;
		}
		.inner {
			width: 100%;
			padding: 20px 20px;
			.vidList {
				article {
					width: 48%;
				}
			}
		}
	}
	figure.pop {
		padding: 20vw 10vw;
	}
}

@media screen and (max-width: 539px) {
	.youtube {
		height: 2950px;
		.sub_visual {
			height: 200px;
		}
		.inner {
			.vidList {
				article {
					width: 100%;
				}
			}
		}
	}
}
